footer
    div(
        class="content"
        id="footer-content"
    )
        a(
            href="https://github.com/Gopiandcode/"
        )="Gopiandcode"
        a="Terms of Service"
        a(
            href="#"
        )="MIT License"