meta(
    charset="utf-8"
)
meta(
    name="viewport"
    content="width-device-width, initial-scale=1"
)
meta(
    name="description"
    content="An web application to construct slideshows from the images on Reddit pages. Supports Imgur galleries, gfycat urls, and allows selection of multiple subreddit sources."
)
title=title
link(
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="css/style.css"
)