div(
    id="nav-bar"
)
    a(
        class="normal-option"
        href="/multi"
    )="Multi-Subreddit Options"
    a(
        class="normal-option"
        href="/"
    )="Single-Subreddit options"
    a(
        class="github-option"
        href="#"
    )="Github Source"