doctype html
html
    head
        include includes/head.pug
    body
        div(
            id="slideshow-body"
        )
            a(
                id="slideshow-close-button"
                class="slideshow-icon-button"
                href="/"
            )="close"

            div(
                id="slideshow-content"
            )
                input(
                    id="slideshow-left"
                    class="slideshow-icon-button"
                    type="button"
                    onClick="priorImage()"
                )

                img(
                    id="slideshow-image"
                    src="/images/placeholder.png"
                )

                p(
                    id="slideshow-title"
                )="Title"

                input(
                    id="slideshow-right"
                    class="slideshow-icon-button"
                    type="button"
                    onClick="nextImage()"
                )

            a(
                id="slideshow-options-button"
                class="slideshow-icon-button"
                onClick="toggleOptionsMenu()"
            )="options"

            nav(
                id="slideshow-options-bar"
            )
                div(
                    class="slideshow-option"
                )
                    label="Current Image Url: "
                    input(
                        type="text"
                        placeholder="Current Url"
                        id="slideshow-url"
                    )
                div(
                    class="slideshow-option"
                )
                    label="Auto-Next-Delay(s): "
                    input(
                        type="text"
                        value="5"
                        onChange="setTimeValue(this.value);"
                        placeholder="Time between moving to the next image (in secs)"
                        id="slideshow-delay"
                    )
                div(
                    class="slideshow-option"
                )
                    label="Auto-Next: "
                    input(
                        type="checkbox"
                        placeholder=""
                        id="slideshow-auto-checkbox"
                        onClick="toggleAutoForward(this);"
                    )


                div(
                    class="slideshow-option"
                )
                    label="Show title: "
                    input(
                        type="checkbox"
                        placeholder=""
                        onClick="toggleTitleVisibility(this);"
                        checked=true
                    )
                

                div(
                    class="slideshow-option"
                )
                    label="Prior Entries: "
                    div(
                        id="slideshow-prior-entriesbox"
                    )
        script.
            var urls = !{JSON.stringify(urls)};
            var client_id = !{JSON.stringify(client_id)};
        script(src="/js/jquery.js")
        script(src="/js/slideshow.js")